body {
    background: white;
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: none;
    margin: 3%;
}

p {
    text-align: justify;
    color: #333;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

#harvard-study {
    text-align: justify;
    color: #333;
    font-size: 22px;
    font-style: normal;
    text-align: justify;
    margin-top: 40px;
}

a:link,
a:visited {
    color: green;
    font-weight: bold;
    text-decoration: none;

}

.top-bar-right {
    margin-top: 10px;
}

.container-fluid {
    background: #d4e1e0;
    border-radius: 10px;
    height: 100%;
    padding: 40px;
}

h1 {
    font-size: 100px;
    color: rgb(0, 69, 50);
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: green;
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-size: 28px;
    color: rgb(0, 69, 50);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
}

#myPlants {
    font-size: 24px;
    color: rgb(0, 69, 50);
    font-weight: bolder;
    text-align: left;
}

#myPlants,
.fa-pagelines,
#main {
    padding: 5px;
    margin-top: 15px;
}

.fa-pagelines {
    color: rgb(0, 116, 136);
    display: flex;
    align-items: center;
    justify-content: center;
}

#savedPlants {
    text-align: left;
    font-size: 16px;
    padding: 5px;
    margin-left:2px;
    list-style-type: none;
    line-height: 30px;
}

#savedPlants a:link,
a:active,
a:visited {
    background-color: none;
}

#savedPlants a:hover {
    background-color: darkslategrey;
    color: lightgreen;
    display: block;
}

#forestPath {
    width: 550px;
    height: 750px;
}